<%-include("header"); %>

<section class="main">
    <%- include("nav_bar"); %>

    <section class="chart_container">
        <article class="graph1">
            <h3>Chart</h3>
        </article>


    </section>

</section>





<%-include("footer"); %>