<%- include("header"); %>

    <section class="main">
        <%- include("nav_bar"); %>

        <section class="dash_container">
            <article class="graph1">
                <h3>Graph1</h3>
            </article>

            <article class="graph2">
                <h3>Graph2</h3>
            </article>

            <article class="lab_info">
                <h3>Lab Info</h3>
            </article>

            <article class="chart_info">
                <h3>Chart Info</h3>
            </article>

        </section>





    </section>

<%- include("footer"); %>