<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab Entry</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <section class="nav">

        <section class="navBar">
            <section class="nav_top">
                <button type="button">Login</button>
            </section>

            <section class="nav_center">
                <button type="button">Dashboard</button>
                <button type="button">Data Entry</button>
                <button type="button">Charts</button>
            </section>

            <section class="nav_bot">
                <h3>Date</h3>
                <p>Time</p>
            </section>

        </section>

    </section>

    <script src="js/client.js"></script>
</body>
</html>