<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab Entry</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <section class="navBar">

        <section class="leftBar">
            <button type="button">Home</button>
            <button type="button">Data Entry</button>
            <button type="button">Charts</button>
        </section>

    </section>

</body>
</html>