<%-include("header"); %>
<section class="main">
    <%- include("nav_bar"); %>

    <section class="lab_entry_container">
        <article class="title_bar">
            <h3>Lab Entry</h3>
        </article>

        <article class="data_container">
            <h3>Date</h3>
        </article>
 

    </section>

</section>


<%-include("footer"); %>