<section class="navBar">
    <section>
        <a id="btn_menu"><img src="icons/hamburger.png"></a>
    </section>
    <section class="nav_container" data-tog-menu>
        <section class="nav_top" >
            <a><img src="icons/user2.png"></a>
        </section>
        <section class="nav_center">
            <a href="/"><img src="icons/layout.png"></a>
            <a href="/lab-entry"><img src="icons/copywriting.png"></a>
            <a href="/chart"><img src="icons/bar-chart.png"></a>
        </section>
        <section class="nav_bot">
            <h3 class="nav_bot_frame">Date</h3>
            <p class="nav_bot_frame">Time</p>
        </section>

    </section>

</section>

