@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');

/***********************************Variables*******************************************/
:root {
    --LAB-BG-THEME1: hsl(222, 72%, 47%);
    --LAB-BG-THEME2: hsl(197, 91%, 45%);
    --LAB-FG-THEME1: hsl(191, 84%, 95%);
    --LAB-FG-THEME2: hsl(169, 38%, 80%);
    --LAB-TXT-THEME1: hsl(191, 84%, 95%);
    --LAB-TXT-THEME2: hsl(169, 38%, 80%);
}

/***********************************Variables - END*******************************************/


body {

    background-color: var(--LAB-FG-THEME1);
}


/***********************************Navigation Bar*******************************************/
.main {
    display: grid;
    font-family: 'Roboto', sans-serif;
    grid-template-columns: minmax(auto,5vw) minmax(auto,95vw);
    grid-template-rows: 7vh 93vh;
    
    grid-template-areas:
        "leftBar  main"
        "leftBar  main";
     
}



.navBar {
    grid-area: leftBar;
    background-color: var(--LAB-BG-THEME1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: .5rem;
    border-radius: 3rem;
    gap: 20%;
    min-width: 7rem;
    min-height: 45rem;
    box-shadow: 1px 15px 25px 1px rgba(0,0,0,0.35);

}



.nav_top a{
    align-self: stretch;
    background-color: var(--LAB-FG-THEME1);
    border-radius: 5rem 5rem 1rem 1rem;
    padding:1rem 1.5rem 1rem;
    box-shadow: 1px 15px 25px 1px rgba(0,0,0,0.35);

        /**Center Icon */
        display: flex;
        flex-direction: column;
        justify-content: center;
    
}

.nav_center {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}



.nav_center a {
    flex-basis: 4rem;
    background-color: var(--LAB-FG-THEME1);
    border-radius: 3rem;
    padding:0 1.5rem 0;
    box-shadow: 1px 15px 10px 1px rgba(0,0,0,0.35);

    /**Center Icon */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a img {
    max-width: 2rem;
    max-height: 2rem;

}

.nav_center a:hover {
    opacity: 100%;
    transform: rotate(10deg);
    box-shadow: 1px 15px 10px 1px rgba(0,0,0,0.35);
}

.nav_bot {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.nav_bot_frame {
    color: var(--LAB-BG-THEME2);
    background-color: var(--LAB-FG-THEME1);
    border-radius: .5rem;
    padding: .2rem;
    margin: .5rem;
    box-shadow: 1px 15px 10px .01rem rgba(0,0,0,0.35);
}

.nav_bot h3 {

    font-size: 1rem;

}

.nav_bot p {
    font-size: .9rem;
}


/***********************************Navigation Bar - END*******************************************/


/**********************************Dashboard*******************************************/


.dash_container{
    grid-area: main;

    display: grid;
    padding: 1rem;
    grid-template-columns: minmax(auto,1fr) minmax(auto,1fr) minmax(auto,1fr);
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    grid-template-areas:
    "chartinfo  chartinfo   chartinfo "
    "graph1       graph2     info";

    color: var(--LAB-TXT-THEME1);
}

.dash_container article{
    background-color: var(--LAB-BG-THEME1);
    border-radius: 1rem;

    text-align: center;
    box-shadow: 5px 15px 10px .01rem rgba(0,0,0,0.35);

}
/*Line Graph*/
.graph1{
    grid-area: graph1;
    min-width: 40rem;
    padding: 1rem;
}
/*Bar Graph*/
.graph2{
    grid-area: graph2;
    min-width: 40rem;
    padding: 1rem;
}
/*Weather Info*/
.gen_info{
    grid-area: info;
}

/*Carousel*/
.chart_info{
    grid-area: chartinfo;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    min-height: 15rem;

}

.chart_info h1{
    margin: 2rem;
    position: absolute; 
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 3;
    text-decoration: underline;
}

.glide{
    min-height: 90%;
    z-index: 1;
}

.glide__slides{
    display: flex;
    margin: 0;
    padding: 0;

    position: relative;
    
}

.glide__slide{

    min-width: 100%;
    opacity: 0;
    position: absolute;
    transition: opacity 1s;
    text-align: left;

}

.glide__slide[data-active-slide]{
    opacity: 1;
}

.glide__slide section{
    position: absolute;
    opacity: 1;
    z-index: 3;

    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.slide_content1{
    top: 15rem;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.slide_content1 a{
    align-self: center;
}

.slide_content1 p:nth-child(2){
    width: 27rem;
    align-self: center;
}

.slide_content2{
    top: 5rem;
    left: 17rem;
    text-align: left;
}

.slide_content_img{
   width: 20rem;
   height: 20rem;
   top: 5rem;
   left: 60rem;
   position: absolute;
   opacity: 1;
   z-index: 3;
   object-fit: cover;
   object-position: 100% 0%;
   border-radius: 100%;  
}



.slide_content3{
    top: 5rem;
    left: 17rem;
    text-align: left;
}

.slide_content1 p:nth-child(2){
    width: 27rem;
    align-self: center;
}



.glide__slide section a{
    background-color: orange;
    border-radius: .5rem;
    color: black;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    width: 15rem;
    flex: 0 1 1rem;
}


.glide__slide section p{
    color: var(----LAB-TXT-THEME1);
    background: rgba(0, 3, 0, 0.2);
    border-radius: .5rem;
    padding: .5rem;
}

.glide__slide section p:nth-child(1){
    font-size: 2rem;
    font-weight: 900;
    line-height: 3rem;
    margin: 0;
}

.glide__slide section p:nth-child(2){
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
}




.slide_bg{
    width: 100%;
    height: auto; 
    opacity: 0.5;
    object-fit: cover;
    object-position: 0 -15rem;
    position: absolute;
    top: 0;
    left: 0;
}



.chart_info button{
    position: absolute;
    top: 50%;  
    transform: translate(0, -50%);
    background: none;
    border: none;
    color: var(----LAB-TXT-THEME1);
    font-size: 1.5rem;
    opacity: 50%;
    z-index: 2;
    cursor: pointer;
}

.chart_info button:hover{
    opacity: 100%;
}

.btn_left{
   left: 2rem;
}

.btn_right{
    right: 2rem;
 }



